graft .
graft cal3d
graft model
graft soya3d
graft text
graft data
graft manpage
graft ode-0.5
graft BSP

include LICENSE README README.0.7 README.ode AUTHORS CHANGES
include soya_editor

global-include *.pxd
global-include *.pyx
global-include *.h
global-include *.c

exclude test* setup_tuto.py

global-exclude *.pyc *.pyo *.old* *.save *.disabled *.o *.so test_* .xvpics/*
global-exclude */CVS/* .svn .cvswrappers .cvsignore *.~*~

